<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDeployService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IMenuService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/RaizSOAServices/DeployService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeployService"
                contract="DeployService.IDeployService" name="NetTcpBinding_IDeployService" />
            <endpoint address="net.tcp://localhost:9000/RaizSOAServices/MenuService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMenuService"
                contract="MenuService.IMenuService" name="NetTcpBinding_IMenuService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
