<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service    name="Raiz.Deployment.Svc.Lib.DeployService" 
                  behaviorConfiguration="DeployServiceBehavior" >
        
        <endpoint address="" binding="netTcpBinding" 
                  contract="Raiz.Deployment.Svc.Lib.IDeployService" 
                  bindingConfiguration="DefaultBindingConfig" />
        
        <endpoint address="mex" binding="netTcpBinding"
                  contract="IMetadataExchange"
                  bindingConfiguration="mexBinding"  />
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/RaizSOAServices/DeployService" />
          </baseAddresses>
        </host>
        
        
      </service>
    </services>

    <bindings>

      <netTcpBinding>
        
        <binding name="DefaultBindingConfig"
                       portSharingEnabled="true"
                       maxReceivedMessageSize="2147483647"
                       closeTimeout="00:05:00"
                       openTimeout="00:05:00"
                       receiveTimeout="00:10:00"
                       sendTimeout="00:05:00"
                       maxConnections="2147483647">
          <readerQuotas maxDepth="64"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false"
                       ordered="false"
                       inactivityTimeout="0:05:00"/>

          <security mode="None">
          </security>
        </binding>
        

        <binding name="mexBinding" portSharingEnabled="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>

      </netTcpBinding>

    </bindings>
    
    <behaviors>
      <serviceBehaviors>

        <behavior name="DeployServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000"/>
        </behavior>


      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
